.body{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    border-top: 20px;
    flex-direction: column;
    
}

/*.main{
    justify-content: center;
    align-content: flex-start;


}*/




